version: '3'

services:
  fastapi-app:
    image: rslim087/fastapi-prometheus:latest
    ports:
      - "8000:8000"  # Assuming your FastAPI app runs on port 8000
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:v2.37.0
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:9.0.0
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    networks:
      - monitoring

networks:
  monitoring: